div.step {
  width: 50px;
  height: 50px;
  background-color: grey;
  border: 1px solid white;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

div.step:hover {
  background-color: #333;
}

div.step.active {
  background-color: red;
}

div.step.current {
  box-shadow: inset 0 0 0 3px #ff0;
  background-color: #555;
}

/* Extra margin after every 4th step */
.instrument div.step:nth-child(4n+1) {
  margin-right: 18px;
}
